[Unit]
Description=modify2 Target
Wants=modify2-client.service
Wants=modify2-openai@1.service
Wants=modify2-openai@2.service
Wants=modify2-openai@3.service
Wants=modify2-openai@4.service
After=network.target

[Install]
WantedBy=multi-user.target

