[Unit]
Description=modify2 Client
PartOf=modify2.target
After=network.target

[Service]
Type=simple
User=modify2
Group=modify2
ExecStart=/var/www/modify2/scripts/discordclient.php
Restart=on-failure
RestartSec=5

[Install]
WantedBy=modify2.target
