[Unit]
Description=modify2 OpenAIClient %i
PartOf=modify2.target
After=network.target

[Service]
Type=simple
User=modify2
Group=modify2
ExecStart=/var/www/modify2/scripts/openaiclient.php %i
Restart=on-failure
RestartSec=5

[Install]
WantedBy=modify2.target
